<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Pull Hook | Onsen UI</title>  
  <link rel="stylesheet" href="css/onsenui.css">
  <link rel="stylesheet" href="css/onsen-css-components.css">

  <script src="js/angular/angular.js"></script>    
  <script src="js/onsenui.js"></script>    

  <script>
    angular.module('myApp', ['onsen'])

    .controller('DemoController', function($scope, $http, $window) {
      $scope.items = [];

      $scope.load = function($done) {
        $http.jsonp('http://content.guardianapis.com/search?page-size=50&api-key=m62ztaprt9ktu8qry2hkp6pe&callback=JSON_CALLBACK')
          .success(function(data) {
            $scope.items = data.response.results;
            console.log($scope.items);
            $done();
          })
          .error(function() {
            alert('Unable to load items items.');
          });
      };
      $scope.load(function() {});

      $scope.goto = function(item) {
        $window.open(item.webUrl, '_blank');
      };
    });

  </script>
  
</head>

<body>    
  <ons-page ng-controller="DemoController">
    <ons-pull-hook ng-action="load($done)" var="loader">
      <span ng-switch="loader.getCurrentState()">
        <span ng-switch-when="initial"><ons-icon size="35px" icon="ion-arrow-down-a"></ons-icon> Pull down to refresh</span>
        <span ng-switch-when="preaction"><ons-icon size="35px" icon="ion-arrow-up-a"></ons-icon> Release to refresh</span>
        <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> Loading data...</span>
      </span>
    </ons-pull-hook>

    <ons-toolbar>
    <div class="center">Pull to refresh</div>
    </ons-toolbar>

    <ons-list>
      <ons-list-item ng-click="goto(item)" modifier="chevron" ng-repeat="item in items">
        {{ item.webTitle }}
      </ons-list-item>
    </ons-list>
  </ons-page>
</body>
</html>
